*.suo
Chapter07/Chapter07_CSharp/obj/Debug/CoreCompileInputs.cache
*.cache
/Chapter08/.vs/Chapter08/v15/sqlite3
/Chapter08/packages/System.ValueTuple.4.3.1
/Chapter07/.vs/Chapter07/v15/sqlite3
/Chapter07/Chapter07_CSharp/bin/Debug
/Chapter07/Chapter07_CSharp/obj/Debug
/Chapter07/Chapter07_FSharp/bin/Debug
/Chapter07/Chapter07_FSharp/obj/Debug
/Chapter07/FunctionalCSharp/bin/Debug
/Chapter07/FunctionalCSharp/obj/Debug
/Chapter07/packages/System.ValueTuple.4.3.1
